<html lang="fr">
<body>
        <p>
                <p>Bonjour {{ etudiant.username }}</p>

        <p> Votre compte à AGITEL FORMATION a été créé avec succès. Votre dossier est en cours d'etude. Vous aurez une reponse dans 72h, et l'accès a l'application.</p>
        <p> 
        Si vous avez d'autres preoccupations, veuillez nous contacter.
        Sincères salutations,</p>
                <p>AGITEL FORMATION</p>
        </p>
</body>
</html>