<html lang="fr">
<body>
	<center>
        <p>Un étudiant vient de s'inscrire veuillez svp allez vérifier ces informations</p>
        {# <a href="http://localhost:8000/Validation-Vente-privee-{{participant.id}}">Valider votre participation à la vente Prive </a> #}
	</center>
</body>
</html>