<html lang="fr">
<body>

<p>Validation Recu</p>

<p>Felicitation ! Vous avez rempli toutes les etapes, vous etes a present inscrit. Veuillez consulter la session "emploi du temps" sur l'application pour voir votre emploi du temps.</p> 

<p>Si vous avez d'autres preoccupations, veuillez nous contacter.</p>

<p>Merci et Bonne Rentrée a vous.</p>


<p>AGITEL FORMATION</p>

</body>
</html>