<html lang="fr">
<body>
        <p>
                <p>Bonjour {{ etudiant.username }}</p>
                <p>Nous sommes heureux de vous annoncer que votre dossier a fini d'etre etudié et votre demande d'inscription a été validé.</p>

                <p> Votre compte à AGITEL FORMATION est activé. Vous pouvez dès maintenant vous connecter pour accéder aux services de l'Université, dont la validation de l'inscription et l'emploi du temps.</p>
                <p>Si vous avez d'autres preoccupations, veuillez nous contacter.</p>

                <p>Sincères salutations,</p>

                <p>AGITEL FORMATION</p>
        </p>
</body>
</html>