<html lang="fr">
<body>
	<center>
        <p>Félicitation vous vous êtes inscrit avec susccès à 
        la vente privé !!!</p>
        <a href="http://localhost:8000/Validation-Vente-privee-{{participant.id}}">Valider votre participation à la vente Prive </a>
	</center>
</body>
</html>